@model mini_E_commerce_Aldakkaneh.Models.Cart

@{
    ViewBag.Title = "حذف المنتج";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-light p-4 shadow-lg">
                <h3 class="text-center mb-4">هل أنت متأكد أنك تريد حذف هذا المنتج من السلة؟</h3>
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4">
                                كمية
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.quantity)
                            </dd>

                            <dt class="col-sm-4">
                                اسم المنتج
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.description)
                            </dd>

                           
                        </dl>
                    </div>

                    <div class="col-md-6 text-center d-flex align-items-center justify-content-center">
                        <img src="../../imges/@Model.imgprodect" alt="صورة المنتج" class="img-fluid rounded" style="max-width: 100%; height: auto;" />
                    </div>
                </div>

                @using (Html.BeginForm("Delete", "Carts", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="text-center mt-4">
                        <input type="submit" value="حذف" class="btn btn-danger" />
                        @Html.ActionLink("العودة إلى السلة", "Index", null, new { @class = "btn btn-secondary ms-2" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
