
@{
    ViewBag.Title = "Welcome page";
}




<div class="d-flex justify-content-center align-items-center vh-100" style="background: linear-gradient(135deg, #001f3f 0%, #9c27b0 100%);">
    <div class="text-center text-white p-5">
        <h3 class="mb-4">أهلا بك في الدكانة!</h3>
        <p class="mb-4">  الرجاء زيارة موقعنا للحصول على تجربة تسوق رائعة. انضم إلينا الآن واستمتع بخصومات وعروض حصرية .</p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-lg" style="background-color: white; color: #9c27b0;">
                                    الرجاء الدخول لصفحة الرئيسية
        </a>
    </div>
</div>
